<% content_for :tabs do -%>
 	<li><%=link_to('收件箱',user_messages_path(@user)) %></li>
	<li class='ui-tabs-selected'><%=link_to('发件箱','#tabs-content' )%></li>  
<% end -%>

<% form_tag delete_selected_user_messages_path(@user) do %>
			<%= render :partial => "sent" %>
<% end %>