<h2>填写个人信息</h2>   

<% form_for(@profile,:url => user_profile_path(@user),:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
   <%= render :partial => 'form',:locals => {:f => f} %>
  <p style='margin-left:100px'>
    <%= f.submit '新建' %>
  </p>
<% end %>

<% content_for :sidebar do %>
   <%= render :comatose=>'cn/profile' %>
<% end -%>