
<h3>登录</h3>
<% form_tag session_path do -%> 
	<p><label for="username">用户名</label><br />
	<%= text_field_tag 'login', nil, :size => 35%></p> 
	<p><label for="password">密码</label><br />
	<%= password_field_tag 'password', nil, :size => 35%></p>
	<p><label for="remember_me">记住我: <%= check_box_tag 'remember_me'%></label></p> 
<p><%= submit_tag '确定' %></p>
<% end -%>      



  

