<h1><%= t(:edit_positions) %></h1>

<div class='span-13'> 

<% form_for(@position, :url => resume_position_path(@resume,@position)) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f }%>
  <p>
    <%= f.submit '更新' %> 
  </p>
<% end %> 
</div>

