<h1><%= t(:add_position)%></h1>

<% form_for(@position,:url => resume_positions_path(@resume)) do |f| %>
  <%= f.error_messages %>
    <%= render :partial => 'form', :locals => { :f => f }%>
  <p>
    <%= f.submit t(:create) %>
  </p>
<% end %>
 

<% content_for :sidebar do %>
<% end -%>