<p>
您好 <%= @user.login %>,我们重新设置了您的密码
</p>
<p>
现密码为:<b><%= @password %></b>,请注管!
</p>   

<p>
   马上登录   <%=link_to @url,@url %> 
</p>


<p>------------------<br />
半亩塘:<br />
<%=link_to @url,@url %>
</p>
