<p><b>您好,您在半亩塘的帐户已创建.以下是帐户信息</b></p>
<p>
  帐号: <%=h @user.login %><br />
  密码: <%=h @user.password %>
</p>
<p>
请点击下面的链接激活你的帐户<br />
<%=link_to @url,"#{@url}"%>
</p>       

<p>
------------------------------<br />
半亩塘让你快速创建更有用的简历
<a href='http://www.muutang.com'>www.muutang.com</a>
</p>