       
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td>
 </td>
<td width="600">
<table width="600" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td width="600">
<p style="margin: 10px 0pt;"><a target="_blank" style="font-size: 25px; text-decoration: none; line-height: 30px; color: darkgreen; font-weight: bold; font-family: Arial,Helvetica,sans-serif;" href="http://www.muutang.com/">半亩塘推出简历推荐功能</a></p>
<span style="padding: 10px 0pt; font-size: 13px; font-family: Arial,Helvetica,sans-serif; font-weight: bold;"></span></td>
</tr>
</tbody>
</table>
</td>
<td>
 </td>
</tr>
<tr>
<td>
 </td>
<td width="600">
<table width="600" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td valign="top" height="10" colspan="3">
 </td>
</tr>


<tr>
<td valign="top">
<span style="font-family: Arial,Helvetica,sans-serif; font-size: 15px; font-weight: 900; color: darkgreen;"><%= @user.offical_name %>同学,你的在线简历完成度为<%= resume_status(@user)%>,要让你的简历更客观有力,请邀请你的领导或同事/同学对你做评价</span>

<br/><br/><span style="font-family: Arial,Helvetica,sans-serif; font-size: 15px; font-weight: 900; ">要使用推荐功能<ul>
	<li>你必须至少创建一项教育或工作记录</li>
	<li>然后复制邀请链接地址，用QQ、MSN等手段发送给你的朋友</li>
	<li>对方加入半亩塘后即自动加为你好友.然后可对你的简历做评价!</li></span>  
</p></td>
</tr>


<tr>
<td width="383" valign="top">

<p style="margin-bottom: 10px; font-family: Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51);"><b>半亩塘最近更新</b>：<br/><br/>
	<ul style="margin-bottom: 10px; font-family: Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51);">    
		<li >新增简历推荐功能</li>
		<li>修正了已知的错误</li>
		<li>完善了界面</li>
	</ul>  

<p style="margin-bottom: 10px;"><a target="_blank" style="font-family: Arial,Helvetica,sans-serif; font-size: 13px; font-weight: bold; color: rgb(0, 107, 181); line-height: 15px; text-decoration: underline;" href="http://www.muutang.com/">点击查看详情</a></p>



</td>

</tr>
</tbody>
</table>

</td>
<td>
 </td>
</tr>
</tbody>
</table>

<span bgcolor="#FFFDF7" style="text-align: center;">
</span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>     

<p style="font-family: Arial,Helvetica,sans-serif; font-size: 15px; ">
------------------------------<br />
半亩塘让你快速创建更有用的简历
<a href='http://www.muutang.com'>www.muutang.com</a>
</p>
</p>