	  <dl>      
		<div class='activity_user_avatar'>
			  <%#= avatar_for(r.sender,48,48) %></span> 
			</div>
		<dd id='activity-item'>    
			<%=h recommendation.desc %>
		<br /> 
		<span style='color:#999999'>asfasf</span>
		 </dd>  

	    <hr />
	</dl>  