<h3>评价<%=h @receiver.login %> </h3> 

<% form_for(@recommendation,:url => user_recommendations_path(current_user)) do |f| %>   
<%= f.error_messages %> 
<%= render :partial => 'form',:locals => {:f => f} %>

<p>                  
	<%= submit_tag '确定'%>
</p>                                                             	
<% end -%> 

<% content_for :sidebar do -%>
收费电视
<% end -%> 