<h1>帮助</h1>
<ul> 
	<li>如何创建一份简历？</li>
	<li>如何打印？</li>
	<li>如何投递简历？</li>
	<li>如何确保简历信息安全？</li>
</ul>               

<h4>如何创建一份简历？</h4>
从首页的'创建简历'按钮开始，只要填写一些必要的个人信息，你的简历就完成了。你接下来需要做的就是完善它！

<h4>如何打印？</h4>
我们提供PDF导出支持，PDF (Portable Document Format) 文件格式是电子发行文档的事实上的标准，确保你看到的效果于打印出来的一致。它可以用Adobe Acrobat Reader软件打开。Adobe Acrobat Reader 是一个查看、阅读和打印 PDF 文件的最佳工具。而且它是免费的。如果你还没有安装，可从这里<a href='http://www.baidu.com/s?wd=pdf&cl=3'>下载</a>.    

<h4>如何投递简历？</h4> 
通过简历发布功能，得到一个公开网址，你可以把网址发给你想投递的人。你可以通过重新发布来使旧的网址失效，确保只有你想要看到的人可以看到你的简历

<h4>如何确保简历信息安全？？</h4> 
首先，我们承诺不会滥用您在本站填写的任何信息。其次，我们禁掉了搜索引擎对简历的抓取，使您的信息不会被搜索引擎抓到。最后，对简历的访问，外部人士只有通过简历的公开网址才能访问简历.