<style type="text/css" media="screen">
	#help h4{    
		padding:5px;
		border-bottom:1px solid #ccc;
	}  
	
	#help p{  
		margin:10px;
	background-color:#EFEFEF;       
	}
</style>
<div id='help'>
<h1>帮助</h1>
<ul> 
	<li><a href='#faq_create'>如何创建一份简历？</a></li> 
	<li><a href='#faq_be_req'>怎么让同事/同学推荐你?</a></li>
	<li><a href='#faq_req'>怎么推荐同事/同学?</a></li>
	<li><a href='#faq_print'>如何打印？</a></li>
	<li><a href='#faq_send'>如何投递简历？</a></li>
	<li><a href='#faq_security'>如何确保简历信息安全？</a></li>
</ul>               

<h4 id='faq_create'>如何创建一份简历？</h4>
<p>
从首页的'创建简历'按钮开始，只要填写一些必要的个人信息，你的简历就完成了。你接下来需要做的就是完善它！
</p>  
<h4 id='faq_be_req'>怎么让同事/同学推荐你?</h4>
<p>
要使用推荐功能,你必须至少创建一项教育或工作记录,然后邀请你的同学/同事对你的教育/工作经历做评价.然后复制邀请链接地址，用QQ、MSN等手段发送给你的朋友.对方加入半亩塘后即自动加为你好友.然后可对你的简历做评价!!
</p> 
<h4 id='faq_req'>怎么推荐同事/同学?</h4>
<p>
首先被推荐人至少需要有一项教育或者工作记录。你必须针对行的选择一项工作或教育经历来评价,重点是你必是选择你与他的关系,在被评价人的这段时期内。比如你是他的老师,领导等等.同时为了让你的评价更具说服力，你必须也创建一份简历,并至少填写和被推荐人相关的你的教育/工作经历!
</p>
<h4 id='faq_print'>如何打印？</h4>  
<p> 
我们提供PDF导出支持，PDF (Portable Document Format) 文件格式是电子发行文档的事实上的标准，确保你看到的效果于打印出来的一致。它可以用Adobe Acrobat Reader软件打开。Adobe Acrobat Reader 是一个查看、阅读和打印 PDF 文件的最佳工具。而且它是免费的。如果你还没有安装，可从这里<a href='http://www.baidu.com/s?wd=pdf&cl=3' class='ag'>下载</a>.      

<h4 id='faq_send'>如何投递简历？</h4> 
<p> 
可以使用本站的简历投递功能，直接投递
</p>
<h4 id='faq_security'>如何确保简历信息安全？？</h4>   
<p> 
首先，我们承诺不会滥用您在本站填写的任何信息。其次，我们禁掉了搜索引擎对简历的抓取，使您的信息不会被搜索引擎抓到。最后，对简历的访问，外部人士只有通过简历的公开网址才能访问简历,你可以通过重新发布来使旧的网址失效，确保只有你想要看到的人可以看到你的简历     .
</p>  
</div>