<div class='url-list span-20'>
	<h3>各地招聘会</h3> 
	<ul>
	         <li><a href="http://www.58.com/zhaopinhui/" target="_blank">58同城各地招聘会</a></li>
			 <li><a href="http://www.jober.cn/" target="_blank">上海招聘会</a></li>
			 <li><a href="http://www.zph.com.cn/" target="_blank">招聘会信息网</a></li>
			 <li><a href="http://www.17zph.cn/" target="_blank">58同城各地招聘会</a></li>
			 <li><a href="http://www.58.com/zhaopinhui/" target="_blank">一起招聘会</a></li>
</div>

<div class='url-list span-20'>
	<h3>工作搜索</h3> 
	<ul>
	         <li><a href="http://shenghuo.google.cn/shenghuo/search?a_y0=9&a_n0=%E5%B7%A5%E4%BD%9C&view=Table" target="_blank">google 工作搜索</a></li>
	         <li><a href="http://www.meijob.com/" target="_blank">找工作</a></li>         
	         <li><a href="http://china.recruit.net/" target="_blank">招聘搜</a></li>         
	         <li><a href="http://so.01hr.com/so/index.jsp" target="_blank">职通车</a></li>         
	         <li><a href="http://talent.deepdo.com/" target="_blank">深度搜索</a></li>         
	         <li><a href="http://www.alsox.com/" target="_blank">我搜网</a></li>         
	         <li><a href="http://www.globehr.com/" target="_blank">搜职网</a></li>         
	         <li><a href="http://www.go2work.com.cn/" target="_blank">淘职网</a></li>         
	         <li><a href="http://www.jobmet.com/" target="_blank">职脉网</a></li>         
	         <li><a href="http://www.jobui.com/" target="_blank">职友集</a></li>         
	         <li><a href="http://www.totojob.com/" target="_blank">托托搜索</a></li>         
	         <li><a href="http://zhaopin.kooxoo.com/" target="_blank">酷讯招聘</a></li>         
	
	</ul>
</div>  

<div class='url-list span-20'>
	<h3>常用网站</h3> 
	<ul>
	         <li><a href="http://www.newjobs.com.cn/" target="_blank">中国国家人才网</a></li>         
	         <li><a href="http://www.chinahr.com/" target="_blank">中华英才网</a></li>         
	         <li><a href="http://www.zhaopin.com/" target="_blank">智联招聘网</a></li>         
	         <li><a href="http://www.51job.com/" target="_blank">前程无忧</a></li>         
	         <li><a href="http://www.cjol.com" target="_blank">中国人才热线</a></li>         
	         <li><a href="http://www.myjob.com.cn/" target="_blank">我的工作网</a></li>         
	         <li><a href="http://www.job168.com/" target="_blank">南方人才网</a></li>         
	         <li><a href="http://www.528.com.cn/" target="_blank">528招聘网</a></li>         
	         <li><a href="http://www.jobcn.com/" target="_blank">卓博人才网</a></li>         
	         <li><a href="http://www.job88.com/" target="_blank">Job88八方人才网</a></li>         
	         <li><a href="http://www.job5156.com" target="_blank">智通人才招聘网</a></li>         
	         <li><a href="http://www.job128.com/" target="_blank">128人才网</a></li>         
	         <li><a href="http://www.1010job.com/" target="_blank">精英招聘</a></li>         
	         <li><a href="http://www.lietou.com/" target="_blank">猎头网</a></li>         
	         <li><a href="http://www.myjob.edu.cn/" target="_blank">高校毕业生网</a></li>         
	         <li><a href="http://www.tjinfo.com/" target="_blank">天基人才网</a></li>         
	         <li><a href="http://www.01hr.com" target="_blank">数字英才网</a></li>         
	         <li><a href="http://www.91student.com/" target="_blank">研究生人才网</a></li>         
	         <li><a href="http://www.goodjob.cn" target="_blank">中国俊才网</a></li>         
	         <li><a href="http://job100.cn/" target="_blank">中国企业人才网</a></li>         
	         <li><a href="http://www.job1998.com" target="_blank">易才网</a></li>         
	         <li><a href="http://www.jobcat.cn" target="_blank">招才猫招聘网</a></li>         
	         <li><a href="http://www.e2ejob.com/" target="_blank">易之易工作网</a></li>         
	         <li><a href="http://www.ohr.cn" target="_blank">中国开放人才网</a></li>         
	         <li><a href="http://www.hrcn.com.cn" target="_blank">中国人才信息网</a></li>         
	         <li><a href="http://www.job9151.com/" target="_blank">中国高校就业联盟网</a></li>         
	         <li><a href="http://www.rc365.com/" target="_blank">每日人才网</a></li>         
	         <li><a href="http://www.tjrc.com.cn/" target="_blank">中国北方人才市场</a></li>         
	         <li><a href="http://www.hrbanlv.com/" target="_blank">HR伴侣</a></li>         
	         <li><a href="http://www.91job.com/" target="_blank">秀才网</a></li>         
	         <li><a href="http://www.58.com/jianzhi.aspx" target="_blank">58城网-兼职</a></li>         
	         <li><a href="http://www.cg51.com.cn" target="_blank">成功无忧人才网</a></li>         
	         <li><a href="http://www.hrsou.cn/" target="_blank">中国人力资源联盟</a></li>         
	         <li><a href="http://www.m-jobcn.com/" target="_blank">中国经理人才网</a></li>         
	</ul>
	<div style="font: 0px/0px sans-serif;clear: both;display: block"> </div>
</div> 

<div class='url-list'>  
	<h3>行业网站</h3> 
	<ul>
	         <li><a href="http://www.114job.com.cn" target="_blank">万行工作网</a></li>         
	         <li><a href="http://www.waterhr.com" target="_blank">水利英才网</a></li>         
	         <li><a href="http://www.c008.cn" target="_blank">中国演艺人才网</a></li>         
	         <li><a href="http://www.cfw.cn/" target="_blank">中国服装人才网(浙)</a></li>         
	         <li><a href="http://www.fhr.com.cn" target="_blank">时尚人才网</a></li>         
	         <li><a href="http://www.gofood.cn" target="_blank">中国食品招聘网</a></li>         
	         <li><a href="http://www.tradehr.com" target="_blank">外贸英才网</a></li>         
	         <li><a href="http://www.jobeast.com/" target="_blank">中国外语人才网</a></li>         
	         <li><a href="http://job.aweb.com.cn" target="_blank">农博人才</a></li>         
	         <li><a href="http://rencai.chinawater.net.cn/" target="_blank">中国水利人才网</a></li>         
	         <li><a href="http://www.citvip.com" target="_blank">中华IT人才网</a></li>         
	         <li><a href="http://www.medhr.cn/" target="_blank">医学人才网</a></li>         
	         <li><a href="http://www.21wecan.com.cn/" target="_blank">中国卫生人才网</a></li>         
	         <li><a href="http://www.mediaren.cn" target="_blank">中国传媒人才网</a></li>         
	         <li><a href="http://www.chemjobs.cn/" target="_blank">中国化工人才网</a></li>         
	         <li><a href="http://www.gamejob.net" target="_blank">中国游戏人才网</a></li>         
	         <li><a href="http://www.wtojob.com" target="_blank">世贸人才网</a></li>         
	         <li><a href="http://www.job36.com" target="_blank">JOB36行业招聘</a></li>         
	         <li><a href="http://www.5ajob.com" target="_blank">中国农业人才网</a></li>         
	         <li><a href="http://www.ittalent.com.cn/" target="_blank">中国IT人才网</a></li>         
	         <li><a href="http://www.jobs114.com/" target="_blank">中国工程师黄页</a></li>         
	         <li><a href="http://www.rencaijob.com/" target="_blank">人才职业网</a></li>         
	         <li><a href="http://www.lightingjob.com/" target="_blank">中国照明人才网</a></li>         
	         <li><a href="http://www.carjob.com.cn/" target="_blank">中国汽车人才网</a></li>         
	         <li><a href="http://www.cyjob.cn/" target="_blank">中国餐饮人才网</a></li>         
	         <li><a href="http://www.doctorjob.com.cn/" target="_blank">中国医疗人才网</a></li>         
	         <li><a href="http://www.leatherhr.com/" target="_blank">中国皮革人才网</a></li>         
	         <li><a href="http://www.pjob.net/" target="_blank">中国印刷人才网</a></li>         
	         <li><a href="http://www.printhr.com/" target="_blank">中国印刷人才网</a></li>         
	         <li><a href="http://zm.epjob88.com/" target="_blank">照明英才网</a></li>         


	</ul>
	
</div>