<div class='url-list span-20'>
	<h3>求职公寓</h3> 
	<ul>
	         <li><a href="http://hotel.yingjiesheng.com/" target="_blank">应届生旅社</a></li>
			 <li><a href="http://www.zdwe.com/" target="_blank">职达·求职旅社</a></li>
			 <li><a href="http://www.jobhotel.com.cn/" target="_blank">求职公寓网</a></li>
			 <li><a href="http://www.hoophouse.cn/" target="_blank">希望公寓</a></li>
</div>     

<div class='url-list span-20'>
	<h3>公司评价/点评</h3> 
	<ul>
	         <li><a href="http://wopingit.com/" target="_blank">我评IT</a></li>
			 <li><a href="http://www.71dp.com/" target="_blank">企业点评网</a></li>
			 <li><a href="http://www.051271.com/" target="_blank">苏州企业点评</a></li>
			 <li><a href="http://www.findgs.com/" target="_blank">找公司</a></li>
			<li><a href="http://www.yatan.com/enterprise/" target="_blank">雅谈网</a></li>
</div>