<p>你好,<%= @user.offical_name %>:</p>            
<p>
我们是半亩塘管理团队,我们冒昧发此邮件为了通知你半亩塘的新变化以及对你在线简历的影响。<br />
我们最近再原有的在线简历制作的基础上，推出了<b>好友推荐</b>功能.这样做是为了让你的简历更客观，相信你也知道一个有分量的人对你的推荐是十分重要的，对招聘人员来说也是.  
</p>       

