body{
	font-size:14px;
}
h3{     
	font-size:14px; 
	padding:10px;
	margin:0px;
	background:#ccc;
} 

#sidebar{
	padding:0px 10px;
} 

#sidebar li{
	margin:5px 0px;
}

#sidebar li a{  
	display:block;
	padding:5px 10px;
}

#sidebar li a:hover{ 
	background: #00BF00; 
	color:#ffffff;       
   }

#sidebar ul li#active a, #sidebar ul li.current a{
	display:block;
	width:90%; 
	border:1px solid #FFE375;
    background-color:#FFFFAA;	  
	text-decoration: none !important;
	color:black;
}

#box{
  border:1px solid #ccc;
padding:10px;  
} 

#box span{
	color:#009900;
}     

table{
	margin:10px;
}

table td{
	padding:5px 0px;  
	border-top:1px solid #ccc;
} 

.apple_pagination {
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  text-align: center;
  padding: 1em; }
  .apple_pagination a, .apple_pagination span {
    padding: .2em .3em; }
  .apple_pagination span.disabled {
    color: #AAA; }
  .apple_pagination span.current {
    font-weight: bold;
    background: transparent url(/images/apple-circle.gif) no-repeat 50% 50%; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }