body{
	font-size:12px;
	 background: url(/images/bg.png);
} 

.container{ 
	background-color: #ffffff;
    border:1px solid #ccc;
	margin:0px auto;
	width:749px; 
}

.content {
	margin:50px 60px;
} 

.identi{  
	float:left;
	width:280px;
}
  
.section { 
	border-top:3px solid #ccc;
	margin:10px 0;
	padding:15px 20px;
	clear:both;
}            

.profile{
	border-top:none;   
}

.profile table{
	 padding:20px;
	}

.contact{ 
	float:right;
	width:280px;
} 

    

.box{ 
	float:right;
	width:480px;
}

#address{
	height:5em;
	width:48em;
	padding:1em;
	}
#address div{
	width:16em;
	float:left;
	}
#address h3{
	border-bottom: none;
	font-variant: small-caps;
	margin-top: 0;
	}
.date {
	font-size:.8em;
	margin-top:.4em;
	text-align:right;
	float:right;
	}  

h1.name {font-size:28px; float:left;margin:15px 0 1em 1.5em;}		

h1{
	margin:1em 0 1em 9.5em;
	font-size:1.75em;
	}
	
.avatar{
    margin:5px 50px;
	float:left;
}
  
h3 {
	margin-left:16px;
}
.section h2 {
	width:100px;
	float:left;
	font-size:1.4em;

	}
.section h3 {margin-bottom: 0px;font-size:16px;margin-left:0px;  }
#download {float:right;margin:20px 60px 10px 10px;}
#download a { background: #f78210; color: white; padding: 10px 20px; text-decoration: none; font-size: 18px; font-weight: bold; letter-spacing: -0.35px; }
#download a:hover { background: #c26c06; }

table{
	 margin:10px 0px 0px 0px;
}

table.profile{
	margin:10px 0px 0px 20px; 
} 

hr {
border: 0;
color: #ffffff;
background-color: #ffffff;

}

.intresting{
	margin-bottom:10px;
}

.intresting td{
	height:20px;
}