body {
  font-size: 12px;
  COLOR: #222227;
  LINE-HEIGHT: 150%;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  background: url(/images/bg.png);
}    

.container{ 
   background-color: #f2f2f2;
}               

td { 
	vertical-align:top;       
	}

div{ white-space:normal; word-break:break-all;overflow:hidden;}
h4{ white-space:normal; word-break:break-all;overflow:hidden;}    
ul li{list-style:none;}  
                      
h1,h2,h3,h4 {color:#008000;}
h1{font-size:24px;  } 
h2{font-size:18px;   }
h1{margin:10px;}
 
/* --- href ----*/

a:link {
	color: #333333;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #009900;
}
a:active {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: none;
	color: #000000;
}      
          
.ag{font-size:14px;}
.ag:link {
	color: #009900;
}
.ag:hover {
	text-decoration: underline;  
	color: #009900;
}
.ag:active {
	text-decoration: none;
}
.ag:visited {
	text-decoration: none;
	color: #009900;
} 

/* --- href ---- */
.nav{
	width:100%;
   background:url('/images/header-application.gif') repeat-x ;  
}                  

.line{
	margin-top:10px;
}

.login a{
	color: #FFFFFF;
	font-size: 14px;
} 

.login a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.login a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}
.login a:active {
	text-decoration: none;
	color: #FFFFFF;
}
.login a:visited {
	text-decoration: underline;
	color: #FFFFFF;
}

.login h2{
	font-size:14px;
	color:white;
}

.login{
	height:30px;
	padding-top:10px;
}

.head{          
	height: 240px;
	background:url('/images/bg/index_top.jpg') ;
} 

.edit{  
	font-size:10px;
} 

.edit a { 
	color: #009900; 
	font-size:10px;
}

.main{
	width:350px;
	margin-left:10em;
} 

.more{   
	text-align:right;
	height:25px;
	margin-bottom:10px;   
	text-align:right;
	background:#E3E3E3;
	padding:5px 20px 0px 0px;
	clear:both; 
} 
.date {
	float:right;
	font-size:.8em;
	margin-top:.4em;
	text-align:right;
	}
address{margin-bottom:0px;}
.section{


	}
.section h4{ margin:0px; width:200px;}
.section h3 {margin-bottom: 15px;font-size:16px;width:100px;float:left; }
h3.pro {float:none;width:200px;}   
a#view { margin-right:10px;display: block; float: left; background: #666; color: white; padding: 6px 50px 6px 12px; margin-bottom: 6px; text-decoration: none;  }
a#view:hover { background: #222; }

#download a { background: #FFFFAA;  padding: 10px 20px; text-decoration: none; font-size: 18px; font-weight: bold; letter-spacing: -0.35px; }       

/* ---- for facebox and blueprint confick*/ 
th, td, caption {padding:0px;}   

textarea{
	height:80px;
}

/*--- footer ---*/

#footer{   
	margin-top:10px;
	height:60px;
	line-height:60px;    
	background:#cccccc;

}

#copyright{
   padding:5px;    
}

#footer ul li{
	float: right;
	list-style:none;
	margin:0px;}

#footer li a{
padding-right:10px;
display: block;
border-left: 1px solid #ccc;
}

td.label{
   text-align:right;
   padding:5px; 
   width:100px;
}  

table{margin:0px;} 

.box{ background:none;}

table.resume tr{
	height:40px;
} 
table.resume td{ 
	margin-left:10px;
}            

i{
	font-size:10px;
}  

h4{
	padding:10px; 
	margin-bottom:0px;
}

.avatar{
    padding-right: 30px;
	float:left;
}



/* for landing */

.ad{text-align:center;padding:30px 30px 0px 10px;height:137px;
	background:url(/images/bg-ad.jpg) no-repeat;font-size:14px;}    
	
.ad h3{  
	font:Helvetica;
	border-bottom:3px solid #ccc;
	margin-left:40px;
	width:100px;
}   
.announce h1{
	font-family:Helvetica,Arial,sans-serif;
	font-size:240%;
	font-weight:normal;
	padding:0.75em 0;
	text-align:center;
}

/* for poster */

#preview fieldset {margin-top: 1em; background: url(/images/draft.png)}    

.url-list {background:#f2f2f2;padding:0px 10px;margin-bottom:20px;} 
.url-list ul li{float:left;list-style:none;}
.url-list ul li a{display: block;padding:10px; font-size:13px;}
.url-list h3 {margin:0px 10px;border-bottom:1px solid #CCC;padding-bottom:10px;}

/*----sidebar------*/ 
.sidebar{ 
	padding:5px;
	margin: 0px 10px 10px 10px;
	background-color:#F9F9F9; 
	border:1px solid #CCCCCC; 
}

#service{    
	font-weight:bold;
	margin:0px;
	color:#FFFFFF;
	padding:1px 5px;
	background: #00BF00 url(/images/ui/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
}


.content{
	margin-left:10px;
}    

.sidebar ul{ 
	margin:5px;
}
.sidebar li{   

	padding:1px 2px;   
  	list-style:none;
} 

.sidebar li a{ 
	display:block;
	width:90%; 
	padding-left:10px; 
	padding:1px 0px 1px 10px;
   } 

.sidebar li a:hover{ 
	background: #00BF00; 
	color:#ffffff;       
   }
   
.bio {
	width:150px;
}                     

.bio img{
	float:left; 
	padding:0px 5px 15px 15px;
} 


.a6 {
	color: #999999;
	font-size: 12px;
	letter-spacing: 1px; 
	font-weight:normal; 
}

.recnet_join li{ 
   text-align:center;  
   float:left;
   margin:5px 3px;
}  

.sidebar ul li#active a, .sidebar ul li.current a{
	display:block;
	width:90%; 
	border:1px solid #FFE375;
    background-color:#FFFFAA;	  
	text-decoration: none !important;
	color:black;
}

h4,h5 {
	margin:0px;
}    

.checks li{padding-top:5px;} 
.checks li a{width:100px;float:left;}  
.checks{ font-size:12px;margin-right:0px;padding:0px;}

/* ---- recnt activity ---- */
  

.activity_user_avatar{
	float:left;
	padding-right:10px;
}       

dl{   
	border-bottom: 1px solid #D9D9D9;
}         

dt{
	font-size:12px;
}

dd{
  padding-bottom:20px;  
}


#activity-item{
	margin-bottom:10px;
}
#activity-item a{
   text-decoration: underline;    
}

/*--- tab content ----*/
.btn { margin-left:20px;}
.btn a{
background:transparent url('/images/btn/bigbtn.gif') no-repeat;
display:block;
font-size:14px;
height:31px;
line-height:31px;
margin:15px 0;
text-align:center;
width:119px; 
} 

.invite{
background:transparent url('/images/btn/bigbtn.gif') no-repeat;
display:block;
font-size:14px;
height:31px;
line-height:31px;
margin:20px;
text-align:center;
width:119px; 
} 


.ways li {list-style:none;margin:20px 5px;}

/* ---   recommendation ------*/
.recommendation h4{
	display:inline;margin:0px;
}     

#who{ clear:both;}

#who i{font-size:12px;margin-left:10px;color:#999999;}

.recommendation-public{
	width:440px;
	clear:both;
	padding:5px 20px;
	border:1px solid #ccc;
	margin:10px 5px;
}              

pre{
	display:block;
	font:12px "Courier New", Courier, monospace;
	padding:5px;
	margin:.2em 0;
	width:304px;
	}
	
/* ---- massage ----*/  
table#message
{
	border-collapse:collapse;
	background:#F9F9F9;
	border:3px solid #ccc; 
} 

#message td
{   
	color:#000;
	padding:.5em 1em;
}

.row td{
	border-bottom:1px solid #ccc;
}                               

#message th{ 
	padding:.5em 1em;
	color:#fff;
	background:#cccccc;
}

#message thead
{   
	font-weight:normal;
	border-bottom:1px solid #cccccc;  
} 

#msg_content{
	border:5px solid #ccc;
	padding:10px;
} 

#msg_content ul{
	margin-top:10px;
}

#btn li{
	list-style:none;
	float:left;
	margin-right:10px; 
} 

#btn li a{   
  	display:block;
	padding:10px;
	font-family:arial;
	font-size:12px;
	font-weight:bold; 
	color:#999999; 
    text-decoration: none;    
	background:transparent url('/images/btn.gif') repeat-x scroll center top;
	border:1px solid #999999;
}
.msg_body{
	padding:20px;
	border:1px solid #ccc;
	background:#F9F9F9;
}

ol
{
	margin:0;
	padding: 0 1.5em;
}

/**---- note ----**/ 
.note{
	width:300px;
	border:1px solid #ccc;
	background-color:#EFEFEF;
	padding:10px;
	margin:10px 0px ;
}

/* --- input -----*/
.soinput {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	width: 140px;
	padding-top: 1px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 3px;
}   

.soinputbot {
	font-family: Tahoma, "ËÎÌå", Arial;
	font-size: 22px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	color: #009900;
	background-color: #efefef;
	border-top-color: #CCCCCC;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #CCCCCC;
	line-height: 30px;
	width: 100px;
}

/* ---- recnt activity ---- */
  

.desc {
	border:1px solid #ccc;
	background-color:#EFEFEF;
	margin:2px;
	padding:10px;
}

/*----- req ------*/
.req_collection{
	margin:5px;clear:both;
}   

.req_collection ul li{
	list-style:none;
	padding-bottom:10px;
}

/**/ 

.intrest td{
	padding-bottom:10px;
}

#mq{
	width:490px;height:330px;overflow:hidden;
}                                            

#mq td{
	height:119px;
	text-align:center;
	vertical-align:middle;
}

/* blog */  
.post,.blog-content{ font-size:14px;margin:10px; }
.post-meta{
	margin:10px 0px;
	color:#ccc;
}
.post h2 a{  
	font-size:21px;
   color:#008000; 
}   

/* for resume */
.masthead{    
	text-align:center;
	margin:10px 0px;
}  

.masthead img{
	float:right; 
	margin-right:100px;
	border:5px solid #FFFFFF;
}

#intenal .section{
	padding:10px 0px;
	margin:10px 0px; 
	border-bottom:3px solid #ccc;
}

/* error --*/
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px dotted #999999;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #FFFFEE;
}

#errorExplanation h2 {  
  width:99%;
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  margin: -7px;
  background-color: #FFFFEE;
  color: #000;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/*-----icon------*/  
.icon {
background-position: 0% 40%;
background-repeat: no-repeat;
padding-left: 20px;
padding-top: 2px;
padding-bottom: 3px;
}


.icon-add { background-image: url(../images/icon/add.png); }
.icon-edit { background-image: url(../images/icon/edit.png); }
.icon-copy { background-image: url(../images/icon/copy.png); }
.icon-del { background-image: url(../images/icon/delete.png); }
.icon-move { background-image: url(../images/icon/move.png); }
.icon-save { background-image: url(../images/icon/save.png); }
.icon-cancel { background-image: url(../images/icon/cancel.png); }
.icon-file { background-image: url(../images/icon/file.png); }
.icon-folder { background-image: url(../images/icon/folder.png); }
.open .icon-folder { background-image: url(../images/icon/folder_open.png); }
.icon-package { background-image: url(../images/icon/package.png); }
.icon-home { background-image: url(../images/icon/home.png); }
.icon-user { background-image: url(../images/icon/user.png); }
.icon-mypage { background-image: url(../images/icon/user_page.png); }
.icon-admin { background-image: url(../images/icon/admin.png); }
.icon-projects { background-image: url(../images/icon/projects.png); }
.icon-help { background-image: url(../images/icon/help.png); }
.icon-attachment  { background-image: url(../images/icon/attachment.png); }
.icon-index  { background-image: url(../images/icon/index.png); }
.icon-history  { background-image: url(../images/icon/history.png); }
.icon-time  { background-image: url(../images/icon/time.png); }
.icon-time-add  { background-image: url(../images/icon/time_add.png); }
.icon-stats  { background-image: url(../images/icon/stats.png); }
.icon-warning  { background-image: url(../images/icon/warning.png); }
.icon-fav  { background-image: url(../images/icon/fav.png); }
.icon-fav-off  { background-image: url(../images/icon/fav_off.png); }
.icon-reload  { background-image: url(../images/icon/reload.png); }
.icon-lock  { background-image: url(../images/icon/locked.png); }
.icon-unlock  { background-image: url(../images/icon/unlock.png); }
.icon-checked  { background-image: url(../images/icon/true.png); }
.icon-details  { background-image: url(../images/icon/zoom_in.png); }
.icon-report  { background-image: url(../images/icon/report.png); }
.icon-comment  { background-image: url(../images/icon/comment.png); }

/***** Diff *****/
.diff_out { background: #fcc; }
.diff_in { background: #cfc; }

/***** Wiki *****/
div.wiki table {
    border: 1px solid #505050;
    border-collapse: collapse;
    margin-bottom: 1em;
}

div.wiki table, div.wiki td, div.wiki th {
    border: 1px solid #bbb;
    padding: 4px;
}

div.wiki .external {
    background-position: 0% 60%;
    background-repeat: no-repeat;
    padding-left: 12px;
    background-image: url(../images/external.png);
}

div.wiki a.new {
    color: #b73535;
}

div.wiki pre {
    margin: 1em 1em 1em 1.6em;
    padding: 2px;
    background-color: #fafafa;
    border: 1px solid #dadada;
    width:95%;
    overflow-x: auto;
}

div.wiki ul.toc {
    background-color: #ffffdd;
    border: 1px solid #e4e4e4;
    padding: 4px;
    line-height: 1.2em;
    margin-bottom: 12px;
    margin-right: 12px;
    margin-left: 0;
    display: table
}
* html div.wiki ul.toc { width: 50%; } /* IE6 doesn't autosize div */

div.wiki ul.toc.right { float: right; margin-left: 12px; margin-right: 0; width: auto; }
div.wiki ul.toc.left  { float: left; margin-right: 12px; margin-left: 0; width: auto; }
div.wiki ul.toc li { list-style-type:none;}
div.wiki ul.toc li.heading2 { margin-left: 6px; }
div.wiki ul.toc li.heading3 { margin-left: 12px; font-size: 0.8em; }

div.wiki ul.toc a {
    font-size: 0.9em;
    font-weight: normal;
    text-decoration: none;
    color: #606060;
}
div.wiki ul.toc a:hover { color: #c61a1a; text-decoration: underline;}

a.wiki-anchor { display: none; margin-left: 6px; text-decoration: none; }
a.wiki-anchor:hover { color: #aaa !important; text-decoration: none; }
h1:hover a.wiki-anchor, h2:hover a.wiki-anchor, h3:hover a.wiki-anchor { display: inline; color: #ddd; }
 
#preview fieldset {margin-top: 1em; background: url(../images/draft.png)}  

/***** Ajax indicator ******/
#ajax-indicator {
position: absolute; /* fixed not supported by IE */
background-color:#eee;
border: 1px solid #bbb;
top:35%;
left:40%;
width:20%;
font-weight:bold;
text-align:center;
padding:0.6em;
z-index:100;
filter:alpha(opacity=50);
opacity: 0.5;
}

html>body #ajax-indicator { position: fixed; }

#ajax-indicator span {
background-position: 0% 40%;
background-repeat: no-repeat;
background-image: url(../images/loading.gif);
padding-left: 26px;
vertical-align: bottom;
}

/*---- group -------*/ 
.group_icon{
	background:url(/images/id_bg.png) 8px no-repeat;
}  

#group_header{
	clear:both;
	padding:10px;
	height:65px;
	width:100%;
} 

.g_left{ 
	float:left;
	background: url(/images/bg/title_bg_m.jpg) repeat-x;
} 

.title_left{  
	float:left; 
	width:26px; 
	height:56px;
  background: url(/images/bg/title_bg_l.jpg); 
} 

.title_m{
	float:left; 
}

.title-right{ 
	float:left;
	width:26px; 
	height:56px;
   background: url(/images/bg/title_bg_r.jpg);  
}
.g_left ul li{
	float:left;
	list-style:none;
	margin-left:10px;
}

.group_description{
	float:left; 
	margin-left:30px;
}

.g-logo{   
	height:48px; 
	width:54px;   
	text-align:center;
    padding-top:3px;
	background:#cbcbcb;
} 

.group_list{
   margin:10px 100px 10px 10px;
}            

.group_list li{ 
	float:left;
	list-style-type: none;
	padding:10px;
	width:100px; 
	text-align:center;
} 

.title{
	font-size:14px;
} 

.group_list li img{
	margin:10px 0px;
}


li.new_group{  
	background:url(images/id_bg.png) no-repeat 18px 30px;
	float:right;
}

.group-title{
	color: #222222;
	font-size: 28px;
	font-family: Tahoma, "ËÎÌå", Arial;
}

/*  --- landing---*/
.soinputbot {
	font-family: Tahoma, "ËÎÌå", Arial;
	font-size: 22px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	color: #009900;
	background-color: #efefef;
	border-top-color: #CCCCCC;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #CCCCCC;
	line-height: 30px;
	width: 100px;
}
.soinputindex {
	font-family: Tahoma, "ËÎÌå", Arial;
	font-size: 22px;
	width: 340px;
	padding-top: 5px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 7px;
	color: #666;
	border-top-style: inset;
	border-right-style: inset;
	border-bottom-style: inset;
	border-left-style: inset;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #CCCCCC;
	border-right-color: #efefef;
	border-bottom-color: #efefef;
	border-left-color: #CCCCCC;
	line-height: 30px;
}

/* tag cloud ---*/
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }