body {
  font-size: 13px;
  COLOR: #222227;
  LINE-HEIGHT: 150%;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  background: url(/images/bg.png);
}    

.container{ 
   background-color: #f2f2f2;
} 

/*  for home */
.announce h1{
	color:#133855;
	font-family:"HelveticaNeue-Light",Helvetica,Arial,sans-serif;
	font-size:240%;
	font-weight:normal;
	padding:0.75em 0;
	text-align:center;
}
 
/* --- href ----*/
a {
	font-size: 12px;
	text-decoration: none;
}
a:link {
	color: #333333;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #009900;
}
a:active {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: none;
	color: #000000;
}      
          
.ag{font-size:14px;}
.ag:link {
	color: #009900;
	text-decoration: none;
}
.ag:hover {
	text-decoration: underline;
	color: #009900;
}
.ag:active {
	text-decoration: none;
}
.ag:visited {
	text-decoration: none;
	color: #009900;
}

/* --- href ---- */
.nav{
	width:100%;
   background:url('/images/header-application.gif') repeat-x ;  
}                  

.line{
	margin-top:10px;
}

.login a{
	color: #FFFFFF;
	font-size: 14px;
} 

.login a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.login a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}
.login a:active {
	text-decoration: none;
	color: #FFFFFF;
}
.login a:visited {
	text-decoration: underline;
	color: #FFFFFF;
}

.login h2{
	font-size:14px;
	color:white;
}

.login{
	height:30px;
	padding-top:10px;
}

.head{          
	height: 240px;
	background:url('/images/bg/index_top.jpg') ;
} 

.edit{  
	font-size:10px;
} 

.edit a { 
	color: #009900; 
	font-size:10px;
}

.main{
	width:28em;
	margin-left:12em;
} 

.more{
	height:25px;
	margin-bottom:10px;   
	text-align:right;
	background:#E3E3E3;
	padding:5px 20px 0px 0px;
	clear:both; 
} 
.date {
	float:right;
	font-size:.8em;
	margin-top:.4em;
	text-align:right;
	}
address{margin-bottom:0px;}
.section{
	border-top:1px solid #ccc;
	margin:10px 0;

	}

.section h2 {
	width:6em;
	float:left;
	font-size:1.5em;
	font-variant: small-caps;
	letter-spacing: .06em;
	}  
.section h3 {margin-bottom: 15px; }   
a#view { margin-right:10px;display: block; float: left; background: #666; color: white; padding: 6px 50px 6px 12px; margin-bottom: 6px; text-decoration: none;  }
a#view:hover { background: #222; }

#download a { background: #FFFFAA;  padding: 10px 20px; text-decoration: none; font-size: 18px; font-weight: bold; letter-spacing: -0.35px; }       

/* ---- for facebox and blueprint confick*/ 
th, td, caption {padding:0px;}   

textarea{
	height:80px;
}

/*--- footer ---*/

#footer{   
	margin-top:10px;
	height:60px;
	line-height:60px;    
	background:#cccccc;

}

#copyright{
   padding:5px;    
}

#footer ul li{
	float: right;
	list-style:none;
	margin:0px;}

#footer li a{
padding-right:10px;
display: block;
border-left: 1px solid #ccc;
}

td.label{
   text-align:right;
   padding:5px; 
   width:100px;
}  

table{margin:0px;} 

.box{ background:none;}

table.resume tr{
	height:40px;
} 
table.resume td{ 
	margin-left:10px;
}            

i{
	font-size:10px;
}  

h4{
	padding:10px; 
	margin-bottom:0px;
}

.avatar{
    padding-right: 30px;
	float:left;
}

table.poll {
  width: 100%;
  margin-bottom: 3em; }
  table.poll td {
    border-bottom: none; }
    table.poll td .vote {
      display: block;
      float: left;
      background: url(/plugin_assets/community_engine/images/icons/vote.png) no-repeat left;
      padding: 0 10px 0 20px;
      height: 20px;
      margin-right: 10px;
      border-right: 1px solid #ccc; }
  table.poll td.bars {
    width: 50%; }
    table.poll td.bars div.bar-container {
      border: 1px solid #ccc;
      width: 90%;
      margin: 0px 5px 2px 0;
      padding: 1px;
      float: left;
      background: white;
      height: 1em; }
    table.poll td.bars div.bar-container .bar {
      background-color: #cfe1f1;
      height: 12px;
      font-size: 10px;
      text-align: right;
      padding-right: 2px; }

/* --- sidebar --- */

.sidebar ul li{
	list-style:none;
}

/* for landing */

.ad{text-align:center;padding:10px;font-style:italic;}

#preview fieldset {margin-top: 1em; background: url(/images/draft.png)}    

.url-list {background:#f2f2f2;padding:0px 10px;margin-bottom:20px;} 
.url-list ul li{float:left;list-style:none;}
.url-list ul li a{display: block;padding:10px; font-size:13px;}
.url-list h3 {margin:0px 10px;border-bottom:1px solid #CCC;padding-bottom:10px;}