<h1>编辑兴趣爱好</h1>

<% form_for(@additionalinfo,:url => resume_additionalinfo_path(@resume)) do |f| %>
  <%= f.error_messages %>
    <%= render :partial => 'form',:locals => { :f => f } %>
  <p>
    <%= f.submit '更新' %>
  </p>
<% end %>

<%= link_to '返回', edit_resume_path(@resume) %>   