<h1>Listing additionalinfos</h1>

<table>
  <tr>
  </tr>

<% @additionalinfos.each do |additionalinfo| %>
  <tr>
    <td><%= link_to 'Show', additionalinfo %></td>
    <td><%= link_to 'Edit', edit_additionalinfo_path(additionalinfo) %></td>
    <td><%= link_to 'Destroy', additionalinfo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New additionalinfo', new_additionalinfo_path %>