<h1>New additionalinfo</h1>

<% form_for(@additionalinfo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to '返回', @resume,:method => :put %> 

<% content_for :sidebar do %>
<h2>提示:</h2> 
   <%= render :comatose=>'cn/additional' %>
<% end -%>  