<h2>新建用户</h2>
<% @user.password = @user.password_confirmation = nil %>
<%= error_messages_for :user %>
<%= render :partial => 'form' %>


<% content_for :sidebar do -%>
  	<% unless params[:invitation_code].nil? -%>
		<p>要评价<b><%=h @friend.profile.name %></b>，你需要填写个人信息与评价相关的经历,以严肃评价规则!</p>
	<% end -%>
	<%= render :comatose => 'cn/signup'%>
<% end -%>
