<div id="footer" class='span-24'> 
	<div class='span-16' id='copyright'>
		半亩方塘 © 2008-2009    中文(简体)
	</div> 
	<div class='span-7 last'>
	<ul>
		<li><a href="/" title='sdf'>首页</a></li>
	</ul>
	</div>	
</div>   

