<h2><%=t :fill_in_profile %></h2>   

<% form_for(@personalinfo,:url => resume_personalinfo_path(@resume),:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
   <%= render :partial => 'form',:locals => {:f => f} %>
  <p style='margin-left:100px'>
    <%= f.submit t(:create) %>
  </p>
<% end %>

<% content_for :sidebar do %>
<% unless params[:invitation_code].nil? -%>
	<p>你需要填写个人信息并填写与评价人相应的经历,才能评价对方.</p>
<% end -%>          
   <p>填写必要的个人信息,下一步你就可以完善你的简历了</p>
<p>头像建议用一寸标准照</p>
<% end -%>