<h1>信息汇总</h1>
<table border="0" cellspacing="5" cellpadding="5">
	<tr><th>用户数</th><th>简历数</th></tr>
	<tr><td><%= @user_size %> <%= link_to '查看', admin_users_path %></td><td><%= @resume_size %> <%= link_to '查看', admin_resumes_path %></td></tr>
</table>

