<h1>编辑教育情况</h1> 

<% form_for(@education,:url => resume_education_path(@resume,@education)) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f }%> 
  <p>
    <%= f.submit t(:update) %>
  </p>
<% end %>
