<h1>Listing educations</h1>

<table>
  <tr>
  </tr>

<% @educations.each do |education| %>
  <tr>
    <td><%= link_to 'Show', education %></td>
    <td><%= link_to 'Edit', edit_education_path(education) %></td>
    <td><%= link_to 'Destroy', education, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New education', new_education_path %>