<h1>添加教育情况</h1>
<% form_for(@education,:url => resume_educations_path(@resume)) do |f| %>
  <%= f.error_messages %>
   <%= render :partial => 'form', :locals => { :f => f }%> 
  <p>
    <%= f.submit t(:create) %>
  </p>
<% end %>
