   <p><%= label_tag '用途(目标行业/职位)' %><br />
	 <%= f.text_field :usage %><span style='color:red;'>*</span><br />
	<i>明确简历的目标,后面的工作经历/个人兴趣都要往这个方向靠,有的放矢</i>
	</p> 
	<% content_for :sidebar do%>
	<p>"每个工作当作一场恋爱，你要给特定的对象写，就要知道他的胃口与特点，要研究你向往的公司，知道他们的基本特点、业务特点、目前状况与未来发展的路向，对公司的结构与领导人也尽量做点了解，实在公司比较小不能了解到太多的话至少对这个行业做些了解，这在行业协会网站与通过网络检索的一般行业信息里面可以得到，不要迷信海投，也不要相信撞大运，毕竟七仙女与董永的故事只是传说。如果你连这点代价也不付出，找到真正对应的合适的工作真的很难。"</p>            
	<% end %>