<p><%= label_tag '语言类型' %><span style='color:red;'>*</span><br />
   <%= f.select :lang,LANG,:selected => 'cn'%>
</p>      

<p><%= label_tag '你目前的状态' %><br />
	 <%= f.text_field :usage %><br />
	 例如: 毕业生,采购员,初级Java程序员,asp咨询师
</p> 
                                                       

        