<p><%= label_tag '语言类型' %><span style='color:red;'>*</span><br />
   <%= f.select :lang,LANG,:selected => 'cn'%>
</p>   
<p><%= label_tag '用途(目标行业/职位)' %><br />
	 <%= f.text_field :usage %>
	</p>                                                        

        